@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-roboto: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
